* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    background: url("../imgs/a.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 400px;
    height: 300px;
    background-color: rgba(129, 175, 83, .5);
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 15px rgb(149, 149, 149);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(3px);
    position: relative;
}

form {
    width: 300px;
}

h3 {
    color: white;
    text-align: center;
    font-size: 40px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: 700;
}

form input {
    width: 100%;
    padding: 10px 5px;
    border: 1px solid rgba(129, 175, 83, .5);
    font-size: 20px;
    border-radius: 5px;
}

form input:focus {
    outline: none;
}

form label {
    line-height: 40px;
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.member {
    margin-bottom: 15px;
}

.btn-member {
    margin-top: 30px;
}

.btn-member button {
    width: 100%;
    display: block;
    margin: 20px 0;
    padding: 10px 0;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.btn-member .sign {
    color: white;
    background-color: #14ae67;
    font-weight: 600;
    font-family: "微軟正黑體";
}

.btn-member .sign:hover {
    background-color: #129256;
}

.btn-member .reg {
    color: #14ae67;
    background-color: white;
    font-weight: 600;
    font-family: "微軟正黑體";
    border: 2px solid #14ae67;
}

.btn-member .reg:hover {
    background-color: rgb(216, 215, 215);
}
.reg>a{
    text-decoration: none;
    color: #14ae67;
    display: block;
}
.reg>a:hover{
    color: #14ae67;
}
.forget {
    position: absolute;
    right: 5px;
    bottom: -10px;
}
.forget>a{
    text-decoration: none;
    font-family: "微軟正黑體";
    font-size: 20px;
}


.tip_success {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success {
    font-size: 60px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.login_back {
    background-color: #14ae67;
    font-size: 30px;
    padding: 10px;
    margin-top: 30px;
    width: 100px;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.login_back:hover {
    background-color: #129256;
    color: white;
}